html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    margin-right: 10px;
}

.rood {
    color: red;
    font-weight: bold;
    background-color: rgb(141, 206, 236);
    border: 1px solid red;
}

.groen {
    color: rgb(2, 58, 27);
    font-weight: bold;
    background-color: rgb(141, 206, 236);
    border: 1px solid rgb(2, 58, 27);
}

.oranje {
    color: rgb(233, 113, 15);
    font-weight: bold;
    background-color: rgb(141, 206, 236);
    border: 1px solid rgb(2, 58, 27);
}

button,
a { /* a moet erbij omdat router-link altijd een anchor type genereert */
    margin: 20px;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font: inherit;
    background-color: #3a0061;
    border: 1px solid #3a0061;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 0.5rem;
    display: inline-block;
}

    a:hover,
    a:active,
    button:hover,
    button:active {
        background-color: #270041;
        border-color: #270041;
    }

.flat {
    background-color: transparent;
    color: #3a0061;
    border: none;
}

.outline {
    background-color: transparent;
    border-color: #270041;
    color: #270041;
}

    .flat:hover,
    .flat:active,
    .outline:hover,
    .outline:active {
        background-color: #edd2ff;
    }